.box {
  /* padding: 40px 80px; */
/* background-color: aqua; */
width: 90%;
margin: auto;
align-items: center;
}

.card-container {
/* background-color: aqua; */
/* text-align: center; */
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
align-items: center;
gap: 2%;
}
